{% extends 'base.html' %} 

{% block content %} 
<style> 
.card-title { 
	font-size: 40px; 
	color: green; 
	margin-bottom: 20px; 
	margin-left: 40%; 
} 
.r{
	background-color: #F6465B;
}
</style> 

<div class="container"> 

<div class="display-4 my-2 text-center">Breast Cancer Prediction</div> 
<hr /> 

{% if result %} 
<div class="h1 my-2 text-center"> 
	You {{ result }} breast cancer. 
</div> 
{% endif %} 

<div class="col-md-4"> 
	<form class="" method="POST" action="{% url 'breast' %}"> 
	{% csrf_token %} 
	{{ form }} 
	<div class="mt-4"> 
		<button type="submit" class="btn-lg btn-block btn btn-outline-danger mb-5"> 
		Submit 
		</button> 
	</div> 
	</form> 
</div> 
<button class="r" type="submit">
	<a  href="main">Go Home Page</a></button>
</div> 
{% endblock %} 
